
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>{{#link-to 'application'}}<i class="mdi">code</i> DevTools{{/link-to}}</h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <ul class="left">
      <li class="{{if sidebar 'active'}}" data-tooltip aria-haspopup="true" class="has-tip" title="Toggle Sidebar">
        <a href="#" {{action 'toggleSidebar'}}><i class="mdi">menu</i></a>
      </li>
      {{#each routesService.routes as |route|}}
        {{#link-to route tagName='li' href='#' class='route'}}
          {{#link-to route }}<i class="mdi">code</i> {{titlize route}}{{/link-to}}
        {{/link-to}}
      {{/each}}
      {{#each authors as |author|}}
        {{github-image user=author tagName="li"}}
      {{/each}}
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="chrome-download">
        <a href="https://chrome.google.com/webstore/detail/<devtools>/cdbkgimlplnofejbnolajdkpppadpklb">
          <img src="images/available_on_chrome_store_noframe.png" alt="Available on chrome store" />
        </a>
      </li>
      <li class="active"><a href="#" onclick="TogetherJS(this); return false;"><i class="mdi">share</i> Share Screen</a></li>
    </ul>

  </section>

</nav>
