{{textarea rows=rows cols=cols placeholder=placeholder name=name selectionEnd=selectionEnd selectionStart=selectionStart wrap=wrap lang=lang dir=dir value=value}}

<div class="tools">
    {{#devtools-file-button value=value}}
      <i class="mdi">insert_drive_file</i>
    {{/devtools-file-button}}
    <label onclick={{action "selectAll"}} title="Select all"><i class="mdi">select_all</i></label>
    <label class="copy-btn" title="Copy to clipboard"><i class="mdi">content_copy</i></label>
    <label class="cut-btn" title="Cut to clipboard"><i class="mdi">content_cut</i></label>
  <div class="textarea-length right">{{textLength}}</div>
</div>
