.top-bar{
  li.chrome-download{
    a{
      line-height: 0px !important;
      img{
        max-height: $topbar-height;
      }
    }
  }
  li.name.active{
    background-color: $primary-color;
  }
}
