$aside-width: 300px;

.container{

  aside{
    float: left;
    width: $aside-width;
    position: fixed;
    height: 100%;
    background-color: #eee;
  }
  section.body{
    padding-left: $aside-width;
    .container{
      padding: 20px;
    }
  }
}
