.top-bar{
  li.chrome-download{
    a{
      line-height: 0px !important;
      img{
        max-height: $topbar-height;
      }
    }
  }
  li.route{
    display: none;
    &.active{
      background-color: transparent !important;
      display:inherit;

      a{
        background-color: transparent !important;
      }
    }
  }
}
