.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.empty{
  text-align: center;
  color: #ccc;
  font-size: 0.8em;
}
.code{
  font-family: monospace;
}
.toolbar{
  a, label{
    color: inherit;
    font-size: $form-label-font-size;
    color: $form-label-font-color;
  }
}
