.container aside{
  $sidebar-link-color: #b3b4b8;
  $sidebar-active-link-color: $primary-color;
  $sidebar-bg-color: $topbar-bg-color;
  $sidebar-input-color: lighten($sidebar-link-color, 0%);

  background-color: $sidebar-bg-color;
  border-right: 1px solid darken($topbar-bg-color, 10%);

  .sidebar{

    border-top: 2px solid $primary-color;

    .input-container{
      margin: 10px 10px 0px;
    }

    .side-nav{
      padding-top: 0px;
    }

    input[type=text]{
      background-color: lighten($sidebar-bg-color, 20%);
      color: $sidebar-input-color;

      &::-webkit-input-placeholder {
        color: $sidebar-input-color;
      }

      :-moz-placeholder { /* Firefox 18- */
         color: $sidebar-input-color;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
         color: $sidebar-input-color;
      }

      &:-ms-input-placeholder {
         color: $sidebar-input-color;
      }
    }

    ul{
      overflow: auto;
      max-height: 100%;

      li{
        margin-bottom: 0px;
        a{
          color: $sidebar-link-color;

          &:hover{
            background-color: darken($topbar-bg-color, 5%);
          }
        }
      }

      li.active{
        border-left: 2px solid $sidebar-active-link-color;
      }

      .selected{

        li{
          background-color: darken($topbar-bg-color, 5%);

          a{
            color: #fff !important;
          }
        }
      }
    }
  }
}
