.devtools-textarea{

  textarea{
    margin-bottom: 0px;
  }


  .tools{
    margin-bottom: $form-spacing;

    label i{
      font-size: rem-calc(18);
    }

    label{
      display: inline-block;
    }

    .textarea-length{
      font-size: rem-calc(15);
      color: #999999;
    }


  }
}
