<h3>
  HTML CSS JS Sandbox
  <small>By <a href="https://github.com/blazeeboy" target="_blank">Emad Elsaid</a></small>
</h3>

<div class="row">
  <div class="columns medium-4">
    {{textarea value=html placeholder="HTML" rows="15"}}
  </div>
  <div class="columns medium-4">
    {{textarea value=css placeholder="CSS" rows="15"}}
  </div>
  <div class="columns medium-4">
    {{textarea value=js placeholder="Javascript" rows="15"}}
  </div>
</div>
<div class="row">
  <iframe src="sandbox.html" frameborder="0" class="result column small-12"></iframe>
</div>
