<div class="row full-width">
  <div class="columns medium-4">
    {{devtools-textarea value=html placeholder="HTML" rows="15"}}
  </div>
  <div class="columns medium-4">
    {{devtools-textarea value=css placeholder="CSS" rows="15"}}
  </div>
  <div class="columns medium-4">
    {{devtools-textarea value=js placeholder="Javascript" rows="15"}}
  </div>
</div>
<div class="row full-width">
  <iframe src="sandbox.html" frameborder="0" class="result column small-12"></iframe>
</div>
