<h3>
  Image Editor
  <small>By
    {{github-image user='MattKetmo' name='Matthieu Moquet'}}
    {{github-image user='blazeeboy' name='Emad Elsaid'}}
  </small>
</h3>

<div class="row full-width">
  <div class="small-12 columns">
    {{#devtools-file-button value=image format="url"}}
      <i class="mdi">image</i> Open An Image
    {{/devtools-file-button}}

    <div class="darkroom-image">
      <img src="{{image}}" id="darkroom" />
    </div>
  </div>
</div>
