<div class="welcome">
  <i class="mdi md-48">code</i> DevTools<br/>
   Welcome to DevTools ,a set of simple tools every developer needs, we collected them in
  one application.
  <div class="links">
    <a href="http://twitter.com/blaz_boy">@blaz_boy</a> &middot;
    <a href="http://github.com/blazeeboy/devtools">Github</a>
  </div>
  <div class="apps">
    <hr/>
    <a href="https://chrome.google.com/webstore/detail/<devtools>/cdbkgimlplnofejbnolajdkpppadpklb">
      <img src="images/available_on_chrome_store.png" alt="Available on chrome store" />
    </a>
  </div>

</div>
