<div class="row full-width">
  <div class="large-6 columns">
    {{devtools-textarea value=markdownText placeholder="Markdown text" rows="20"}}
  </div>
  <div class="large-6 columns">
    {{{htmlText}}}
  </div>
</div>
