<h3>
  Minify SQL
  <small>By <a href="https://github.com/vkiryukhin/pretty-data" target="_blank">Vkiryukhin</a></small>
</h3>

<div class="row full-width">
  <div class="large-6 columns">
    <label>SQL (input)</label>
    {{devtools-textarea value=inputText placeholder="Input SQL" rows=20}}
  </div>
  <div class="large-6 columns">
    <label>Minified SQL (output)</label>
    {{textarea value=outputText placeholder="Output text" rows=20}}
  </div>
</div>
