<div class="row full-width">
  <div class="large-6 columns">
    <label>CSS (input)</label>
    {{devtools-textarea value=inputText placeholder="Input CSS" rows=20}}
    <label for="preserveComments">
      {{input type="checkbox" name="preserveComments" checked=preserveComments}}
      Preserve Comments
    </label>
  </div>
  <div class="large-6 columns">
    <label>Minified CSS (output)</label>
    {{textarea value=outputText placeholder="Output text" rows=20}}
  </div>
</div>
