<div class="row full-width">
  <div class="large-6 columns">
    <label>JSON (input)</label>
    {{devtools-textarea value=inputText placeholder="Input JSON" rows=20}}
  </div>
  <div class="large-6 columns">
    <label>Minified JSON (output)</label>
    {{textarea value=outputText placeholder="Output text" rows=20}}
  </div>
</div>
