<h3>
  Pretty Print XML
  <small>By <a href="https://github.com/vkiryukhin/pretty-data" target="_blank">Vkiryukhin</a></small>
</h3>

<div class="row">
  <div class="large-6 columns">
    <label>XML (input)</label>
    {{textarea value=inputText placeholder="Input XML" rows=20}}
  </div>
  <div class="large-6 columns">
    <label>Pretty XML (output)</label>
    {{textarea value=outputText placeholder="Output text" rows=20}}
  </div>
</div>
